---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Memobrainrot</title>
	</head>
	<body>
		<div class="gallery">
			{[
				{
					name: 'Tralalero Tralala',
					imageUrl: 'https://static.wikia.nocookie.net/brainrotnew/images/a/ac/Tralalero_tralala.jpg/revision/latest/top-crop/width/160/height/120?cb=20250321131418',
				},
				{
					name: 'Brr brr Patapim',
					imageUrl: 'https://static.wikia.nocookie.net/brainrotnew/images/f/f7/Brr_Brr_Patapim.png/revision/latest/top-crop/width/160/height/120?cb=20250326180223',
				},
				{
					name: 'Trippi Troppi',
					imageUrl: 'https://static.wikia.nocookie.net/brainrotnew/images/6/62/Trippi_Troppi2.webp/revision/latest/top-crop/width/160/height/120?cb=20250408115944',
				},
				{
					name: 'Bombardiro Crocodillo',
					imageUrl: 'https://static.wikia.nocookie.net/brainrotnew/images/1/10/Bombardiro_Crocodilo.jpg/revision/latest/top-crop/width/160/height/120?cb=20250417102447',
				},
				{
					name: 'Capuchino Assassino',
					imageUrl: 'https://static.wikia.nocookie.net/brainrotnew/images/3/38/Hq720.jpg/revision/latest/top-crop/width/160/height/120?cb=20250405141658',
				},
				{
					name: 'Ballerina Cappuccina',
					imageUrl: 'https://static.wikia.nocookie.net/brainrotnew/images/8/8f/Videoframe_2657.png/revision/latest/top-crop/width/160/height/120?cb=20250424121732',
				},
				{
					name: 'Trippa Troppa Tralala Lirilì Rilà Tung Tung Sahur Boneca Tung Tung Tralalelo Trippi Troppa Crocodina',
					imageUrl: 'https://static.wikia.nocookie.net/brainrotnew/images/6/6d/Comb3.png/revision/latest/top-crop/width/160/height/120?cb=20250414212355',
				},
				{
					name: 'Trulimero Trulicina',
					imageUrl: 'https://static.wikia.nocookie.net/brainrotnew/images/0/02/Trulimero_trulicina.png/revision/latest/top-crop/width/160/height/120?cb=20250417133042',
				},
			].map((character) => (
				<div class="gallery-item">
					{character.imageUrl ? (
						<img src={character.imageUrl} alt={character.name} loading="lazy" />
					) : (
						<div class="placeholder">Image not available</div>
					)}
					<p>{character.name}</p>
				</div>
			))}
		</div>

		<style>
			.gallery {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
				gap: 16px;
			}
			.gallery-item {
				text-align: center;
			}
			.gallery-item img {
				width: 100%;
				height: auto;
				border-radius: 8px;
			}
		</style>
		  
	</body>
</html>
